
@font-face {
  font-family: "Lato";
  src: url("../asstes/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background: #CBD18F;
}

/* bootstrap overrides */

.nav-link {
  color: #3A6B35; 
}

.form-text {
  color: rgba(255, 255, 255, 1);
  color: #212529;
}

.btn-warning {
   background-color: #E3B448; 
   border-color: #212529; 
  }

.btn-primary {
  background-color: #3A6B35; 
  border-color: #212529; 
  }

.btn-info {
  border-color: #212529; 
  }

.btn-info:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #212529; 
}

.btn-warning:hover {
  color: #fff;
  background-color: #00b3db;
  border-color: #212529; 
}

.logo {
  width: 150px;
}

/* Recipe cards styling */
.recipe-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  gap: 10px;
}

.recipe-card {
  border: 1px solid #3A6B35;
  transition: 0.4s;
  cursor: pointer;
}

.recipe-image {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.recipe-card:hover {
  filter: brightness(100%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .8);
}

/* Read Recipe page */

.readPage-image {
  height: 250px;
}

 /* code below used to stop long titles breaking the design  */
.readPage-recipeTitle {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@media only screen and (max-width: 1200px) and (min-width: 992px)  {
  .readPage-summary {
    max-width: 325px;
  }
}

@media only screen and (min-width: 1201px) {
  .readPage-summary {
    max-width: 400px;
  }
}

/* index page */

.search{
 padding: 0.2rem 0.5rem;
}

.logout-button {
  text-align: right;
}

/* image backgrounds*/

.backOne, .backTwo, .backThree {
  background: #CBD18F;
  position: relative; 
  height: 100%;
  width: 100%;
}

.backOne::before {    
  content: "";
  background:  #CBD18F url("/css/backgrounds/wine-glass.webp") no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.08;
  z-index: -1;
  background-attachment: fixed;
}

.backTwo::before {    
  content: "";
  background:  #CBD18F url("/css/backgrounds/food-selection.webp") no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.04;
  z-index: -1;
  background-attachment: fixed;
}

.backThree::before {    
  content: "";
  background:  #CBD18F url("/css/backgrounds/asian-fusion.webp") no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.04;
  z-index: -1;
  background-attachment: fixed;
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
  .recipe-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .readPage-container {
    width: 75%;
  }
}

@media screen and (min-width: 992px) {
  .readPage-image {
    width: 50%;
  }
}

@media screen and (min-width: 1140px) {
  .recipe-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

